<style>
	/* bootstrap navbar custom styling */
.navbar-default {
  background-color: #5e292f;
  border-color: #f55b1d;
}
.navbar-default .navbar-brand {
  color: #e0af46;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e3cfaa;
}
.navbar-default .navbar-text {
  color: #e0af46;
}
.navbar-default .navbar-nav > li > a {
  color: #e0af46;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e3cfaa;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e3cfaa;
  background-color: #f55b1d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e3cfaa;
  background-color: #f55b1d;
}
.navbar-default .navbar-toggle {
  border-color: #f55b1d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f55b1d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0af46;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e0af46;
}
.navbar-default .navbar-link {
  color: #e0af46;
}
.navbar-default .navbar-link:hover {
  color: #e3cfaa;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e0af46;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3cfaa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e3cfaa;
    background-color: #f55b1d;
  }
}

</style>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
			KaylaGram
			</a>
		</div>

		<div class="text-center collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a id="home" href="/">Home <span class="sr-only">(current)</span></a></li>
								<% if current_user %>
				<li><%= link_to "New Post", new_post_path %></li>
				<% end %>
				<li><a id="help"  href="#">Help</a></li>

				<% if current_user %>
				<ul class="text-center nav navbar-nav navbar-right">
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %>
				</ul>
				<% else %>
				<li><%= link_to "Login", new_user_session_path %></li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
